[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "==0.14.2"
plotly = "*"
pandas = "*"
matplotlib = "*"
category-encoders = "*"
notebook = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
sklearn = "*"
xgboost = "*"
catboost = "*"
requests = "*"
scikit-optimize = "*"
shap = "*"
joblib = "==0.17.0"
pylint = "*"
PDPbox = "*"

[requires]
python_version = "3"
