dash==1.9.1
dash-bootstrap-components
plotly
pandas
matplotlib
notebook
numpy
scipy
seaborn
xgboost
catboost
requests
scikit-optimize
shap
pylint
PDPbox
joblib==0.17.0
sklearn
category_encoders==2.2.2
gunicorn==20.0.4
